@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager NavigationManager

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Color="Color.Primary"
               Dense="true"
               Elevation="1">
        @if (_isHomePage)
        {
            <MudTooltip Text="@HomeLogoTooltipText">
                <MudText Typo="Typo.h5">
                    @AppTitleText
                </MudText>
            </MudTooltip>
            <MudSpacer/>
            <MudTooltip Text="@SettingsTooltipText">
                <MudIconButton Class="mr-4"
                               Href="@RouteConstants.Settings"
                               Icon="@Icons.Material.Filled.Settings"
                               Color="Color.Inherit"
                               aria-label="@SettingsAriaLabel"/>
            </MudTooltip>
            <MudTooltip Text="@GitHubTooltipText"
                        Placement="Placement.Left">
                <MudIconButton Class="mr-4"
                               Href="@UrlConstants.GitHubRepo"
                               Target="_blank"
                               Icon="@Icons.Custom.Brands.GitHub"
                               Color="Color.Inherit"
                               aria-label="@GitHubAriaLabel"/>
            </MudTooltip>
        }
        else
        {
            <MudTooltip Text="@BackTooltipText">
                <MudIconButton Class="mr-2"
                               Icon="@Icons.Material.Filled.ArrowBack"
                               Color="Color.Inherit"
                               Href="@RouteConstants.Home"
                               aria-label="@BackAriaLabel"/>
            </MudTooltip>
            <MudSpacer/>
        }
    </MudAppBar>

    <MudMainContent>
        <main role="main">
            @Body
        </main>
    </MudMainContent>

    <MudScrollToTop>
        <MudTooltip Text="@ScrollToTopTooltipText">
            <MudFab Color="Color.Primary"
                    IconSize="Size.Large"
                    Size="Size.Large"
                    StartIcon="@Icons.Material.Filled.ArrowUpward"
                    aria-label="@ScrollToTopAriaLabel"/>
        </MudTooltip>
    </MudScrollToTop>

</MudLayout>

@code
{

    #region Private Fields, Properties

    private bool _isHomePage;

    #endregion

    #region Lifecycle Methods

    protected override void OnInitialized()
    {
        CheckIfHomePage(NavigationManager.Uri);
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    #endregion

    #region Event Handlers

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        CheckIfHomePage(e.Location);

        // @TODO: Check if this line is really needed.
        _ = InvokeAsync(StateHasChanged);
    }

    #endregion

    #region Private Helper Methods

    private void CheckIfHomePage(string uri)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(uri);

        var separatorIndex = relativePath.IndexOfAny(['?', '#']);

        var normalizedPath = separatorIndex >= 0
            ? relativePath[..separatorIndex]
            : relativePath;

        var normalizedPathTrimmed = normalizedPath.Trim('/');

        _isHomePage = string.IsNullOrEmpty(normalizedPathTrimmed);
    }

    #endregion

    #region Text, Label Properties

    private const string AppTitleText = "Streak";

    private const string HomeLogoTooltipText = "Let your habits compound";

    private const string SettingsTooltipText = "Settings";

    private const string SettingsAriaLabel = "Settings";

    private const string GitHubTooltipText = "View source code";

    private const string GitHubAriaLabel = "View source code on GitHub";

    private const string BackTooltipText = "Back to habits";

    private const string BackAriaLabel = "Back to habits";

    private const string ScrollToTopTooltipText = "Scroll to top";

    private const string ScrollToTopAriaLabel = "Scroll to top of page";

    #endregion

}