@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Color="Color.Primary"
               Dense="true"
               Elevation="1">
        <MudTooltip Text="Let your habits compound">
            <MudText Typo="Typo.h5">
                Streak
            </MudText>
        </MudTooltip>
        <MudSpacer/>
        <MudTooltip Text="Manage habits">
            @* TODO: Change this icon later *@
            <MudIconButton Class="mr-4"
                           Href="@RouteConstants.ManageHabits"
                           Icon="@Icons.Material.Filled.Add"
                           Color="Color.Inherit"
                           aria-label="Manage habits"/>
        </MudTooltip>
        <MudTooltip Text="Settings">
            <MudIconButton Class="mr-4"
                           Href="@RouteConstants.Home"
                           Icon="@Icons.Material.Filled.Settings"
                           Color="Color.Inherit"
                           aria-label="Settings"/>
        </MudTooltip>
        <MudTooltip Text="View source code"
                    Placement="Placement.Left">
            <MudIconButton Class="mr-4"
                           Href="@UrlConstants.GitHubRepo"
                           Target="_blank"
                           Icon="@Icons.Custom.Brands.GitHub"
                           Color="Color.Inherit"
                           aria-label="View source code on GitHub"/>
        </MudTooltip>
    </MudAppBar>

    <MudMainContent>
        <main role="main">
            @Body
        </main>
    </MudMainContent>

    <MudScrollToTop>
        <MudTooltip Text="Scroll to top">
            <MudFab Color="Color.Primary"
                    IconSize="Size.Large"
                    Size="Size.Large"
                    StartIcon="@Icons.Material.Filled.ArrowUpward"
                    aria-label="Scroll to top of page"/>
        </MudTooltip>
    </MudScrollToTop>

</MudLayout>

@code
{
}